{% extends "layout.html" %}

{% block content %}

<h1>Typography</h1>

<h2>Чадраабалын Лодойдамба</h2>

{% with "https://mn.wikipedia.org/wiki/" as wiki %}
<p>
    <b>Чадраабалын Лодойдамба</b>
    (* <a href="{{ wiki }}1917_%D0%BE%D0%BD" title="1917 он">1917 оны</a>
    <a href="{{ wiki }}8_%D1%81%D0%B0%D1%80%D1%8B%D0%BD_20" title="8 сарын 20">8 сарын 20</a>-нд
    <a href="{{ wiki }}%D0%93%D0%BE%D0%B2%D1%8C-%D0%90%D0%BB%D1%82%D0%B0%D0%B9_%D0%B0%D0%B9%D0%BC%D0%B0%D0%B3" title="Говь-Алтай аймаг">Говь-Алтай аймагт</a>;
    ࿄ <a href="{{ wiki }}1970_%D0%BE%D0%BD" title="1970 он">1970 оны</a>
    <a href="{{ wiki }}1_%D1%81%D0%B0%D1%80%D1%8B%D0%BD_11" title="1 сарын 11">1 сарын 11</a>-нд) нь
    <a href="{{ wiki }}%D0%91%D0%9D%D0%9C%D0%90%D0%A3" title="БНМАУ">БНМАУ</a>-ын
    <a href="{{ wiki }}%D0%A2%D3%A9%D1%80%D0%B8%D0%B9%D0%BD_%D1%88%D0%B0%D0%B3%D0%BD%D0%B0%D0%BB" title="Төрийн шагнал">Төрийн хошой шагналт</a>
    (1954, 1971) Монголын зохиолч байв. 1940 оноос Холбооны техникумд физикийн багш, 1941 онд Радио хороонд орлогч
    дарга, 1944-45 онд МУИС-ийн Номын төв сургуульд түүх, гүн ухааны багш, МЗЭ-ийн хорооны Цог сэтгүүлийн эрхлэгч, 1959
    оноос Урлагийн хэрэг эрхлэх хорооны 1-р орлогч дарга, Соёлын яамны 1-р орлогч сайд, Уран сайхны зөвлөлийн даргаар
    ажиллаж байсан.
</p>

<h3>Намтар</h3>
<p>
    Тэрээр 1917 онд
    <a href="{{ wiki }}%D0%93%D0%BE%D0%B2%D1%8C-%D0%90%D0%BB%D1%82%D0%B0%D0%B9" title="Говь-Алтай">Говь-Алтай</a>
    аймагт төржээ. Бага наснаасаа сургууль соёлын мөр хөөж, 1954 онд МУИС төгсөж, улмаар ЗХУлсад аспирантурт суралцан
    урлаг судлалын ухааны дэд эрдэмтэний зэрэг хамгаалжээ. Уран бүтээлээ 1940 оноос эхэлж «Алтайд», «Тунгалаг тамир»
    роман, «Манай сургуулийнхан» тууж, «Малгайтай чоно», «Солонго», «Дусал нулимс юу гэж хэлсэн бол» зэрэг олон арван
    шилдэг өгүүллэг бичсэний гадна «Гарын таван хуруу», «Өөрийн замаар», «Итгэж болно» драмын жүжиг, «Энэ хүүхнүүд үү»
    кино зохиол бичжээ.
</p>
<p>
    Зохиолчийн «Тунгалаг тамир» «Алтайд» роман орос, чех, румын, болгар, вьетнам, солонгос, япон зэрэг хэлнээ хэвлэгджээ.
</p>
<p>
    Ч.Лодойдамба БНМАУ-ын
    <a href="{{ wiki }}%D0%A2%D3%A9%D1%80%D0%B8%D0%B9%D0%BD_%D1%88%D0%B0%D0%B3%D0%BD%D0%B0%D0%BB" title="Төрийн шагнал">Төрийн шагналыг</a>
    1954 онд «Алтайд» роман болон «Манай сургуулийнхан» туужаар, 1971 онд «Тунгалаг тамир» романаар хоёр удаа хүртсэн юм.
</p>
<p>
    Лодойдамбын <i>Тунгалаг Тамир</i> романы (1970-1973) кино хувилбар гарахад киноны найруулагч
    <a href="{{ wiki }}%D0%A0%D0%B0%D0%B2%D0%B6%D0%B0%D0%B0%D0%B3%D0%B8%D0%B9%D0%BD_%D0%94%D0%BE%D1%80%D0%B6%D0%BF%D0%B0%D0%BB%D0%B0%D0%BC" title="Равжаагийн Доржпалам">Равжаагийн Доржпалам</a>
    их нэр хүндтэй болсон байна.
</p>
<p>
    Эхнэр <a href="{{ wiki }}%D0%A7%D0%B8%D0%BC%D0%B8%D0%B4%D0%B8%D0%B9%D0%BD_%D0%94%D0%BE%D0%BB%D0%B3%D0%BE%D1%80%D1%81%D2%AF%D1%80%D1%8D%D0%BD" title="Чимидийн Долгорсүрэн">Ч.Долгорсүрэн</a>
    нь Монгол Улсын ардын жүжигчин юм.
</p>
<p>
    <i>Лодойдамбын Тунгалаг тамир роман нь ХХ зууны Монголын шилдэг роман хэмээн үнэлэгддэг. Жүжгийн зохиолч, утга
    зохиол судлаач, соёл олон нийтийн зүтгэлтэн.</i>
</p>

<h3>Бүтээлүүд</h3>
<ul>
    <li>"Малгайт чоно" 1946, 1953 онуудад</li>
    <li>"Мялзангийн цагаан өвгөн" 1947</li>
    <li>"Алтайд" 1949, 1951 онд</li>
    <li>"Манай сургуулийнхан" тууж 1952</li>
    <li>"Өнгөрсөн үеийн баатрын өнөө үеийн явдал" 1956</li>
    <li>"Миний танилууд" 1962 он</li>
    <li>"Гарын таван хуруу" жүжиг 1968</li>
    <li>"Тунгалаг тамир" 1971 2 дахь хэвлэл</li>
    <li>"Түүвэр зохиол" 1977</li>
    <li>"Хугараагүй ноён нуруу"</li>
    <li>"Гэрээслэл"</li>
    <li>"Хугараагүй ноён нуруу"</li>
    <li>"Шаргачин"</li>
</ul>
{% endwith %}


<h1>Table</h1>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Овог, Нэр</th>
            <th>Ангилал</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> 1 </th>
            <td> Тангадын Галсан </td>
            <td> Ардын уран зохиолч </td>
        </tr>
        <tr>
            <th> 2 </th>
            <td>Жамьянгийн Бунтар</td>
            <td> Кино зохиолч </td>
        </tr>

        <tr>
            <th> 3 </th>
            <td> Цэндийн Дамдинсүрэн </td>
            <td> Ардын уран зохиолч </td>
        </tr>
        <tr>
            <th> 4 </th>
            <td>Дэндэвийн Чимэд-Осор</td>
            <td> Кино зохиолч </td>
        </tr>
        <tr>
            <th> 5 </th>
            <td>Пунцагийн Бадарч</td>
            <td> Яруу найрагч </td>
        </tr>
        <tr>
            <th> 6 </th>
            <td> Чадраабалын Лодойдамба </td>
            <td> Ардын уран зохиолч </td>
        </tr>

    </tbody>
</table>


<h1>Form</h1>

<form>
    <div class="form-error">Нэвтрэх нэр, нууц үг буруу байна</div>

    <div class="form-field">
        <label> Нэвтрэх нэр: </label>
        <div>
            <input type="text" name="username" value="{{ username }}"/>
        </div>
    </div>

    <div class="form-field">
        <div>
            <label>
                <input type="checkbox" checked name="password"/>
                Нууц үгээ солих
            </label>
        </div>
    </div>


    <div class="form-field">
        <label>  Нууц үг: </label>
        <div>
            <input type="password" name="password"/>
        </div>
    </div>

    <div class="form-field">
        <label>  Нууц үг (давтах): </label>
        <div>
            <input type="password" name="password"/>
            <span class="field-error">Тоо, үсэг, тусгай тэмдэгт оролцуулсан 8-с доошгүй урттай нууц үг оруулна уу</span>
        </div>
    </div>

    <div class="form-field">
        <input type="submit" value="Нэвтрэх" class="btn"/>
    </div>
</form>


<h1>Notification</h1>

<a href="#" onclick="notify(event)" class="btn">Энд дарж шалгана уу</a>

<pre><code>&lt;a href="#" onclick="notify(event)" class="btn"&gt;Энд дарна уу&lt;/a&gt;
&lt;script&gt;
function notify(e) {
    e.preventDefault();
    var notification = document.createElement('div');
    notification.classList.add('notification');

    notification.innerHTML =
        "Current date time:&lt;br&gt;" +
        new Date() + "&lt;br&gt;" +
        "&lt;br&gt;" +
        "энд дарж хаана уу!";
    document.querySelector('.notifications').appendChild(notification);
    notification.addEventListener('click', hideNotification);
}

function hideNotification(e) {
    e.target.classList.add('hidden');
    setTimeout(function(){
        e.target.style.display = 'none';
    }, 200);
}
&lt;/script&gt;
</code></pre>

<script>
function notify(e) {
    e.preventDefault();
    var notification = document.createElement('div');
    notification.classList.add('notification');

    notification.innerHTML =
        "Current date time:<br>" +
        new Date() + "<br>" +
        "<br>" +
        "энд дарж хаана уу!";
    document.querySelector('.notifications').appendChild(notification);
    notification.addEventListener('click', hideNotification);
}

function hideNotification(e) {
    e.target.classList.add('hidden');
    setTimeout(function(){
        e.target.style.display = 'none';
    }, 200);
}
</script>

<div class="notifications">
</div>

{% endblock %}
