{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf8">
<title>API provider</title>

<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
{% if debug %}
<script src="//localhost:35729/livereload.js?port=35729"></script>
{% endif %}
</head>
<body>

    <div class="header-wrapper">
        <div class="header">
            {% include "menu.html" %}
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="footer">
            2019 он ❤️ api.20k at gmail.com
        </div>
    </div>

    {% block javascript %}{% endblock %}

</body>
<html>
